* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    background-color: #212429;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
}

.login img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.login h1 {
    font-size: 4;
    font-weight: 700;
}

.inp {
    height: 70px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: 0px 2px 28px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 28px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 28px -12px rgba(0, 0, 0, 0.75);
}

.fa-facebook {
    font-size: 2.5;
    color: blue;
}

.fa-google-plus {
    font-size: 2.5;
    color: red;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}